html {
  background-color: #151E2F;
  width: 100%;
}

#card-container {
  position: relative;
  margin: 0 auto;
  top: 120px;

  height: 450px;
  width: 320px;
}

.card-face {
  height: inherit;
  width: inherit;
  border-left: 1px solid black;

  position: absolute;
  background-color:#fafafa;
  border: 1px solid #dedede;
  box-shadow: 0 0 40px rgba(128,128,128,.3)inset;
}

#front-outer {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

}
#front-inner {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
#back-inner {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}