@import "./_reset.css";
@import "./_styles.css";
@import "./_card-open.css";

#snow{
  background: none;
  /*font-family: Androgyne;*/
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
}

#front-outer .image {
  height: 100%;
  float: right;
}

#back-inner .text {
  margin: 12px 10px;
}

#front-outer {
  border: 1px solid #15154C;
}

.text {
  padding: 14px;

  #back-inner & {
    margin: 0;
  }

  section {
    font-family: cursive;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  section:nth-child(even) {
    float: right;
  }
  section:nth-child(odd) {
    float: left;
  }
}
