* {
  margin: 0;
  padding: 0;
}

#card-container {
  position: absolute;
  left: 150px;
  top: 100px;
  perspective: 1000px;
  perspective-origin: 100px 180px;
  transition: 1s ease-in-out;

  &:hover {
    transform: translate(90px);

    #front-outer {
      transform: rotateY(-165deg);
    }

    #front-inner {
      transform: rotateX(180deg) rotateY(165deg);
    }

    #back-inner {
      transform: rotateY(-15deg);
    }
  }
}

.card-face {
  height: 300px;
  width: 200px;

  position: absolute;
  backface-visibility: hidden;
}

#front-outer {
  background-color: red;
  z-index: 3;

  transition: 1s ease-in-out;
  transform-origin: 0 0 0;
}
#front-inner {
  background-color: green;
  z-index: 5;
  transform: rotateX(180deg);

  transition: 1s ease-in-out;
  transform-origin: 0 50% 0;
}
#back-inner {
  background-color: blue;
  z-index: 1;

  transition: 1s ease-in-out;
  transform-origin: 0 0 0;
}